<h1>Welcome ... poor fools</h1>
<p>This is a site suspiciously similar to reddit</p>

<p>You can learn stuff, you can ask stuff, you can vote</p>

<p>Speaking of ... don't forget to vote on Nov 8</p>
